/bootstrap/compiled.php
/bootstrap/cache/
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/temp
/.idea
/.vscode
/.vagrant
.env
.env.*.php
.env.php
.DS_Store
.idea/
matrimonial.sql
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
updates/
composer.lock
*.lock
resources/lang/en.json

updates.zip
ecommerce.zip
install.zip
/nbproject/private/
/nbproject
matrimonial_laravel.zip
